/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CheckoutCustomField
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
& when (@media-common = true) {
	#customfield {
		.customfield>.label>span {
			font-weight: 600;
		}
		.required>.label>span {
			font-weight: 600;
			&::after {
				color: #e02b27;
				content: "*";
				font-size: 1.2rem;
				margin: 0 0 0 5px;
			}
		}
	}
}