<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var Address $block */

use Magento\Customer\Block\Account\Dashboard\Address;
use Magento\Customer\Helper\Session\CurrentCustomerAddress;
use Magento\Framework\App\ObjectManager;

$aimHelper = $this->helper(\Aim\ManageCheckout\Helper\Data::class);
/** @var  Magento\Customer\Helper\Session\CurrentCustomerAddress $currentCustomerAddress */
$currentCustomerAddress = ObjectManager::getInstance()->create(CurrentCustomerAddress::class);
?>
<div class="block block-dashboard-addresses">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('Address Book')) ?></strong>
        <a class="action edit"
           href="<?= $block->escapeUrl($block->getAddressBookUrl()) ?>"><span><?= $block->escapeHtml(__('Manage Addresses')) ?></span></a>
    </div>
    <div class="block-content">
        <?php if ($aimHelper->paymentIsEnabled()): ?>
            <div class="box box-billing-address">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__('Default Billing Address')) ?></span>
                </strong>
                <div class="box-content">
                    <address>
                        <?= $block->getPrimaryBillingAddressHtml() ?>
                    </address>
                </div>
                <div class="box-actions">
                    <a class="action edit" href="<?= $block->escapeUrl($block->getPrimaryBillingAddressEditUrl()) ?>"
                       data-ui-id="default-billing-edit-link"><span><?= $block->escapeHtml(__('Edit Address')) ?></span></a>
                </div>
            </div>
        <?php endif; ?>
        <div class="box box-shipping-address">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Default Shipping Address')) ?></span>
            </strong>
            <div class="box-content">
                <address>
                    <?= $block->getPrimaryShippingAddressHtml() ?>
                </address>
            </div>
            <?php if ($currentCustomerAddress->getDefaultShippingAddress()): ?>
                <div class="box-actions">
                    <a class="action edit" href="<?= $block->escapeUrl($block->getPrimaryShippingAddressEditUrl()) ?>"
                       data-ui-id="default-shipping-edit-link"><span><?= $block->escapeHtml(__('Edit Address')) ?></span></a>
                </div>
            <?php endif;?>
        </div>
    </div>
</div>
