<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div click="selectAddress" class="shipping-address-item" css="'selected-item' : isSelected() , 'not-selected-item':!isSelected()">
    <div>
        <strong><span translate="'Shipping Address'"></span></strong>
    </div>
    <text args="address().prefix"/> <text args="address().firstname"/> <text args="address().middlename"/>
    <text args="address().lastname"/> <text args="address().suffix"/><br/>
    <text if="address().customAttributes.job_site" args="address().customAttributes.job_site.value"/><br if="address().customAttributes.job_site"/>
    <text args="_.values(address().street).join(', ')"/><br/>
    <text args="address().city "/>, <span text="address().region"></span> <text args="address().postcode"/><br/>
    <text args="getCountryName(address().countryId)"/><br/>
    <a if="address().telephone" attr="'href': 'tel:' + address().telephone" text="address().telephone"></a><br/>

    <each args="data: address().customAttributes, as: 'element'">
        <text args="$parent.getCustomAttributeLabel(element)"/>
        <br/>
    </each>

    <!-- ko if: (isSelected()) -->
    <div class="edit-address-link-container">
        <span click="editAddress" translate="'Change Shipping Address'"></span>
    </div>
    <!-- /ko -->

</div>
