<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

$renderLabel = true;
// if defined as 'none' in layout, do not render
if ($_attributeLabel == 'none') {
    $renderLabel = false;
}

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getStoreLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>

<?php if ($_attributeValue): ?>
<div class="product attribute <?= /* @escapeNotVerified */ $_className ?>">
    <?php if ($renderLabel): ?><strong class="type"><?= /* @escapeNotVerified */ $_attributeLabel ?></strong><?php endif; ?>
    <div class="value" <?= /* @escapeNotVerified */ $_attributeAddAttribute ?>><?= /* @escapeNotVerified */ $_attributeValue ?></div>
</div>
<?php endif; ?>

<?php 
	if ($_product->getRamToolPart() != NULL) { ?>
		<div class="product attribute ramtoolscode">
	<?php
		$RamToolPart_code = $_product->getResource()->getAttribute('ram_tool_part')->getStoreLabel();
		echo "<strong>" . $RamToolPart_code . ": </strong>" . $_product->getRamToolPart() ;
	?>
	</div>
	<?php }
	
	if ($_product->getMfgPart() != NULL) {?>
		<div class="product attribute ramtoolscode">
	<?php
		$mfg_code = $_product->getResource()->getAttribute('mfg_part')->getStoreLabel();
		echo "<strong>" . $mfg_code . ": </strong>" .$_product->getMfgPart();
	?>
	</div>
	<?php }?>



<style type="text/css">
.product-info-main .ramtoolscode, .product .ramtoolscode {
    display: none;
    color:#7d7d7d;
}
.product-info-stock-sku .ramtoolscode {
    display:block;
}
.product.attribute.description {
  font-size: 1.4rem;
}
.description .value {
  margin: 0 30px;
}
.additional-attributes .data {
  font-size: 1.4rem;
  line-height: 25px;
}
   
</style>