@general_bg_color:#FFFFFF;
@general_title_color:#20252D;
@general_text_color:#20252D;
@general_link_color:#434343;
@general_link_hover_color:#d2da47;
@general_price_color:#C8102E;
@general_old_price_color:#20252D;
@general_border_color:#20252D;
@general_product_name_color:#20252D;
@general_new_label_color:#C8102E;
@general_sale_label_color:#C8102E;
@header_bg_color:#0C2D53;
@header_link_color:#FFFFFF;
@footer_top_bg_color:#142a45;
@footer_top_title_color:#C8102E;
@footer_top_text_color:#FFFFFF;
@footer_top_link_color:#FFFFFF;
@footer_bottom_bg_color:#FFFFFF;
@footer_bottom_text_color:#20252D;
@footer_bottom_link_color:#20252D;
