.products {
  margin: 0;
}
.product-item-actions{
	display: block;
}
.product-image-container{
	display: block;
}
.product-item-info{
	width: auto;
}
@media (min-width: 1024px), print{
	.page-products .products-grid .product-item:nth-child(3n + 1){
		clear: left;
		margin-left:0;
	}
	.page-layout-1column .products-grid .product-item{
		width: auto;
		padding: 0;
		display: block;
	}
	.page-products .products-grid .product-items{
		margin-right: -10px;
		margin-left: -10px;
	}

}
.column.main .product-items{
	margin-right: -10px;
	margin-left: -10px;
}
.column.main .product-item{
    padding: 0 10px;
}
.owl-theme .products-grid .product-item{
	width: 100%;
}
.block.related,.block.upsell,.block.crosssell{
	margin-bottom: 50px;
	.owl-theme .owl-controls .owl-buttons{
		    bottom: -45px;
		    right:8px;
	}
	.products-slider{
		margin-right: -6px;
		margin-left: -6px;
		margin-top: 0;
		.product-item{
			padding-left: 6px;
			padding-right: 6px;
		}
	}
	.block-title{
		border-bottom: 2px solid @general_link_hover_color;
		padding: 0;
		position: relative;
		margin-bottom: 20px;

		strong{
			text-transform: uppercase;
			font-family: @headingfont;
			font-weight: bold;
			font-size:1.4rem !important;
			background: @general_link_hover_color;
			color: #fff;
			display: inline-block;
			position: relative;
			margin: 0;
			padding:15px 20px 13px;
			border-radius:3px 3px 0 0;
		}
	}
}
// products-grid
.products-grid{
	.product-items{
		.product-item{
			border-right: 0px solid #eee;
			&:last-child{
				border: 0;
			}
		}
	}
.button-bs-ad {
    margin: 15px auto;
}
	.product-item-info{
		position: relative;
		text-align: center;
		&:hover{
			.product-item-details{
				.add-to-links-secondary{
					visibility: visible;
					opacity: 1;
				}
				.add-to-cart-primary{
					opacity: 1;
					visibility: visible;

				}
			}
		}
		.product-item-details{
		    padding-bottom: 10px;
			.add-to-links-secondary{
				visibility: visible;
				pointer-events: visible;
				opacity: 1;
				-webkit-transition: all .2s linear;
				transition: all .2s linear;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
                margin: 15px 0;
				z-index: 11;
			}
			.add-to-cart-primary{
				position: relative;
				left: 0;
				bottom: 0;
				width: 100%;
				z-index: 11;
				opacity: 1;
				visibility: visible;
				-webkit-backface-visibility: visible;
				backface-visibility: hidden;
				.tocart{
					width: 90%;
					max-width: 170px;
					height: 35px;
					border-radius: 3px;
					text-transform: capitalize;
					font-size: 1.3rem;
					line-height: 35px;
				}
			}
		}
	}
}

.cms-index-index{
	.products-grid{
		.product-item-info{
			.product-item-details{
				.add-to-links-secondary{
					top: 53.5%;
				}
			}
		}
	}
}


.owl-item:nth-child(2) .products-grid.style2{
	border-right: 0;
}
.products-grid.style2{

	.product-item{
		border-bottom: 1px solid #eee;
		&:last-child{
			border-bottom: 0;
		}
	}
	.product-item-info2{
		overflow: hidden;
		&:hover{
			 .product-item-images{
				.product-item-actions{
					opacity: 1;
					visibility: visible;
				}
			 }
			 .product-item-details{
			 	.add-to-cart-primary{
			 		opacity: 1;
					visibility: visible;
			 	}
			 }
		}
		.add-to-cart-primary{
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease-out;
			-moz-transition: all .3s ease-out;
			-ms-transition: all .3s ease-out;
			-o-transition: all .3s ease-out;
			.tocart{
				width: 90%;
				max-width: 170px;
				height: 35px;
				border-radius: 3px;
				text-transform: capitalize;
				font-size: 1.3rem;
				line-height: 35px;
			}
		}
		.add-to-links-secondary{
			a.action{
				width: 35px;
				height: 35px;
				line-height: 35px;
				text-align: center;
				background: #363f4d;
				border-radius: 3px;
				color: #fff;
				font-size: 0;
				display: inline-block;
				vertical-align: middle;

				&:before{

		           content: "\f4a8";
				    font-family: "Ionicons";
					display: block;
					font-size:1.8rem;
					line-height:35px;
				}
				&.wishlist{
					&:before{
					     content: "\f387";
					}
				}
				&:hover{
					background: @general_link_hover_color;
					color: #fff;
				}
			}
		}
		.product-item-images{
			float: left;
			width: 40%;
			max-width: 160px;
			position: relative;
			.product-item-actions{
				position: absolute;
				bottom: 17px;
				left: 0;
				right: 0;
				z-index: 11;
				text-align: center;
				opacity: 0;
				visibility: hidden;
				-webkit-transition: all .3s ease-out;
				-moz-transition: all .3s ease-out;
				-ms-transition: all .3s ease-out;
				-o-transition: all .3s ease-out;
			}
		}
		.product-item-details{
			overflow: hidden;
			zoom: 1;
			 .product-reviews-summary .rating-summary{
			 	text-align: left;
			 }
		}
	}
}
.product-item-info{
	.product-item-images{
		position: relative;
		overflow: hidden;
		background: #fff;
		margin-bottom: 10px;
		text-align: center;
	}
	.product-item-details{
		.product-item-actions{
			margin:0;
		}
        .add-to-links-secondary{
            a.action{
                width: 35px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                background: #363f4d;
                border-radius: 3px;
                color: #fff;
                font-size: 0;
                display: inline-block;
                vertical-align: middle;

                &:before{

                    content: "\f4a8";
                    font-family: "Ionicons";
                    display: block;
                    font-size:1.8rem;
                    line-height:35px;
                }
                &.wishlist{
                    &:before{
                        content: "\f387";
                    }
                }
                &:hover{
                    background: @general_link_hover_color;
                    color: #fff;
                }
            }
        }
	}
}

// product-item-actions style grid list
.page-products .product-item-info{
	width: 100%;
	padding: 10px 0 0 0;
}
.products-grid .product-items{
	    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.product-item .price-box{
	margin: 5px 0;
}
.product-item .product-reviews-summary .rating-summary{
	margin: 0;
	text-align: center;
}
.products-slider.products-grid li.product-item{
	width: 100%;
}
 .products-list{
 	.product-item{
 		&:last-child{
 			.product-item-info{
				border: 0;
				padding: 0;
 			}
 		}
	 	.product-item-info{
	 		display: block;
	 		overflow: hidden;
			border-bottom: 1px solid #eee;
			margin-bottom: 20px;
			padding-bottom: 20px;
	 		.product-item-images{
	 			width: 30%;
	 			float: left;
	 			margin-right:15px;
	 			position: relative;
	 			text-align: center;
	 			margin-bottom: 0;
	 			padding: 0;
	 			border: 0;
	 			.product-item-photo {
	 				display: block;
	 				width: 100%;
	 			}
	 		}
	 		.product-item-details{
	 			display: block;
	 			zoom: 1;
	 			overflow: hidden;
	 			text-align: left;
			    padding: 0 10px 10px;
	 		}
	 		.product-reviews-summary .rating-summary{
	 			text-align: left;
	 		}
	 		.product-item-description{
	 			margin: 10px 0 0;
 			    line-height: 22px;
	 		}
	 		.product-item-actions{
	 			margin: 20px 0 0;
	 			.add-to-cart-primary{
					display: inline-block;
	 				vertical-align: middle;
	 				margin-right:5px;
	 				margin-bottom: 5px;
	 				.tocart{
						min-width: 170px;
						height: 35px;
						border-radius: 3px;
						text-transform: capitalize;
						font-size: 1.3rem;
						line-height: 35px;
	 				}
	 			}
	 			.add-to-links-secondary{
	 				display: inline-block;
	 				vertical-align: middle;
	 				margin-bottom: 5px;
	 			}
	 		}
	 		.action.more{
	 			color: @general_link_hover_color;
	 			&:hover{
	 				text-decoration: underline;
	 			}
	 		}
	 	}
 	}
 }
// page-product-downloadable
.page-product-downloadable{
	.product-options-bottom{
		padding: 10px;
		border:1px solid #eee;
		.box-tocart{
			.field.qty{
				padding: 0;
				.label{
					display: inline-block;
					margin-right: 10px;
				}
				.control{
					display: inline-block;
					.input-text.qty{
						height:40px;
					}
				}
			}
			.actions{
				padding: 0;
				button{
					height: 40px;
					line-height:40px;
					padding: 0 30px;
					font-size: 1.3rem;
					transition: all 0.3s ease;
					border-radius: 3px;
					&:hover{
						background-color:darken(@general_link_hover_color, 10%);
					}
				}
			}
		}
		.product-social-links{
			border-top: 1px solid @general_border_color;
			padding: 20px 0 0;
			.product-addto-links{
				display: inline-block;
				vertical-align: middle;
				.towishlist,.tocompare{
					display: inline-block;
					vertical-align: middle;
					width: 35px;
					height: 35px;
					text-align: center;
					line-height: 35px;
					border: 0;
				    background: #363f4d;
					border-radius: 3px;
					color: #fff;
					font-size: 0;
					padding: 0;
					font-weight: normal;
					&:before{
					    content: "\f387";
						font-family: "Ionicons";
						display: block;
						font-size: 1.8rem;
						line-height: 35px;
					}
					&.tocompare{
					    &:before{

				    	    content: "\f4a8";
					    }
					}
					&:hover{
						background-color: @general_link_hover_color;
						border-color:@general_link_hover_color;
					}
					span{
						display: none;
					}
				}
			}
			.mailto{
				display: inline-block;
				vertical-align: middle;
				width: 40px;
				height: 40px;
				text-align: center;
				line-height: 40px;
				border:1px solid #e7e7e7;
				margin: 0;
				&:before{
					display: block;
					line-height: 40px;
					font-size: 34px;
				}
				&:hover{
					background-color: #f7952a;
					border-color:#f7952a;
					color: #fff;
				}
				span{
					display: none;
				}
			}
		}
	}
}

// catalog-product-view
.product-info-main .price-box .price-wrapper .price, .product-options-bottom .price-box .price-wrapper .price{
	 font-size: 2rem;
    font-weight: 500;
}
.product-info-main .price-box .special-price .price{
	font-size: 2rem;
}
.product-info-main .stock.available, .product-info-main .stock.unavailable{
	display: inline-block;
	vertical-align: middle;
}
.catalog-product-view{
	.product-info-main{
		.page-title{
			margin: 0 0 15px;
			text-transform: capitalize;
			font-size:1.6rem;
			font-weight: 500;
		}
		 .price-box{
	 	    margin: 20px 0;
		 }
		.product-info-price{
			margin: 15px 0;
		}
		.product-info-stock-sku{
			margin-top: 10px;
		    .sku {
		    	display: block;
		    }
		}
		.product-add-form{
			.box-tocart{
				.field.qty{
					padding: 0;
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
					.label{
						display: inline-block;
						margin-right: 10px;
					}
					.control{
						display: inline-block;
						.input-text.qty{
							height: 40px;
							border-radius: 3px;
						}
					}
				}
				.actions{
					padding: 0;
					display: inline-block;
					vertical-align: middle;
					margin-bottom: 20px;
					button{
						height: 40px;
						line-height:40px;
						padding: 0 30px;
						font-size: 1.3rem;
						transition: all 0.3s ease;
						border-radius: 3px;
						&:hover{
							background-color:darken(@general_link_hover_color, 10%);
						}
					}
				}
			}
		}
		.attribute.overview{
			margin: 10px 0;
		}
		.product-social-links{
			border-top: 1px solid @general_border_color;
			padding: 20px 0 0;
			.product-addto-links{
				display: inline-block;
				vertical-align: middle;
				margin: 10px 0;
				.towishlist,.tocompare{
					display: inline-block;
					vertical-align: middle;
					width: 35px;
					height: 35px;
					text-align: center;
					line-height: 35px;
					border: 0;
				    background: #363f4d;
					border-radius: 3px;
					color: #fff;
					font-size: 0;
					padding: 0;
					font-weight: normal;
					&:before{
					    content: "\f387";
						font-family: "Ionicons";
						display: block;
						font-size: 1.8rem;
						line-height: 35px;
					}
					&.tocompare{
					    &:before{

				    	    content: "\f4a8";
					    }
					}
					&:hover{
						background-color: @general_link_hover_color;
						border-color:@general_link_hover_color;
					}
					span{
						display: none;
					}
				}
			}
			.mailto{
				display: inline-block;
				vertical-align: middle;
				width: 35px;
				height: 35px;
				text-align: center;
				line-height: 35px;
				background: #363f4d;
				border-radius: 3px;
				color: #fff;
				margin: 0;
				font-weight: normal;
				&:before{
					display: block;
					line-height: 35px;
				    font-size: 27px;
				}
				&:hover{
					background-color: @general_link_hover_color;
						border-color:@general_link_hover_color;
				}
				span{
					display: none;
				}
			}
		}
		.bundle-actions{
			button{
				height: 40px;
				line-height:40px;
				padding: 0 30px;
				font-size: 1.3rem;
				transition: all 0.3s ease;
				border-radius: 3px;
				&:hover{
					background-color:darken(@general_link_hover_color, 10%);
				}
			}
		}

		.product-info-price{
			.price-box{
				.price-from,.price-to{
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
				}
				.special-price,.old-price{
					.price-label{
						display: none;
					}
				}
			}
		}
	}
	.bundle-options-container{
		&:after {
			clear: both;
			content: ".";
			display: block;
			height: 0;
			line-height: 0;
			visibility: hidden;
		}
		.bundle-options-wrapper{
			.required{
				.control{
					.options-list{
						margin: 10px 0 0;
						input{
							display: inline-block;
						}
						.field.qty{
							.label{
								display: inline-block;
								vertical-align: middle;
							}
							.control{
								display: inline-block;
								vertical-align: middle;
							}
						}
					}
				}
			}
		}
		.block-bundle-summary{
			.title{
				margin-bottom: 20px;
			}
			.box-tocart{
				.field.qty{
					padding: 0;
					.label{
						display: inline-block;
						margin-right: 10px;
					}
					.control{
						display: inline-block;
						.input-text.qty{
							height: 38px;
						}
					}
				}
				.actions{
					padding: 0;
					button{
						height: 40px;
						line-height:40px;
						padding: 0 30px;
						font-size: 1.3rem;
						transition: all 0.3s ease;
						border-radius: 3px;
						&:hover{
							background-color:darken(@general_link_hover_color, 10%);
						}
					}
				}
			}
			.product-addto-links{
				display: inline-block;
				vertical-align: middle;
				margin: 0 10px 10px 0;
				.towishlist,.tocompare{
					display: inline-block;
					vertical-align: middle;
					width: 35px;
					height: 35px;
					text-align: center;
					line-height: 35px;
					border: 0;
				    background: #363f4d;
					border-radius: 3px;
					color: #fff;
					font-size: 0;
					padding: 0;
					font-weight: normal;
					&:before{
					    content: "\f387";
						font-family: "Ionicons";
						display: block;
						font-size: 1.8rem;
						line-height: 35px;
					}
					&.tocompare{
					    &:before{

				    	    content: "\f4a8";
					    }
					}
					&:hover{
						background-color: @general_link_hover_color;
						border-color:@general_link_hover_color;
					}
					span{
						display: none;
					}
				}
			}
		}
	}
	.product.info{
		margin-top: 30px;
		margin-bottom: 80px;
		.product.data.items{
			.item{
				a{
					height: auto;
					text-transform: uppercase;
					padding-top: 5px;
					font-size: 1.4rem;
					font-weight: 500;
					padding: 10px 30px;
					min-height: 40px;
				}
			}
		}
	}
}

// .products-related,.upsel
.related{
	.block-actions{
		display: none;
	}
	.choice.related{
		display: none;
	}
}

// gallery
.fotorama-item.fotorama--fullscreen{
	z-index: 2000 !important;

}
.fotorama__nav-wrap{
	text-align: center;
}
body{
	.swatch-attribute{
		clear: both;
	}
	.swatch-option.text{
		padding: 0 8px;
	}
}
// featureproduct-slider
.featureproduct-slider{
	margin-bottom: 20px;
}
// new-product-slider
.new-product-slider{
	margin-bottom: 30px;
}
.ma-brand{
	background: #f7f7f7;
    padding: 20px 0;
    .pt-brand{
    	text-align: center;
    }
    .brandslider-container{
    	border-top: 1px solid #eee;
    	padding: 20px 0;
    }
}
.owl-item{
	.products-grid{
		border-right: 1px solid #eee;
	}
}
.proup-products .owl-item{
	.products-grid{
		border-right: 0;
	}
}
// pt-testimonial-container
.pt-testimonial-container{
	padding: 70px 0 50px;
	border-top: 1px solid #eee;
	li{
		.pt-testimonial{
			max-width: 950px;
			margin: auto;
			text-align: center;
			.des{
				margin: 0 0 35px;
				position: relative;
				overflow: hidden;
				font-size: 2.8rem;
				color: #999999;
				font-style: italic;
				text-align: center;
			    padding-left:60px;
			    &:after{
					content: "\f10d";
					font-family: FontAwesome;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 11;
					font-size: 2rem;
					color: @general_link_hover_color;
				    transform: rotateX(180deg);
			    }
			}
			.content{
				display: inline-block;
				.avatar{
					float: left;
				}
				.info{
					overflow: hidden;
					zoom: 1;
					text-align: left;
					padding: 20px 0 0 10px;
					a.name{
						display: block;
						font-size: 1.6rem;
						font-weight: bold;
						color: @general_link_hover_color;
					}
				}
			}
		}
	}
}
.pt-testimonial-item{
	margin: 30px 0;
	.testimonial-item{
		padding: 0;
		margin: 0;
		list-style:none;
		li{
			overflow: hidden;
			margin:0 0 20px;
			padding: 20px;
			border-radius: 5px;
			border: 1px solid #eee;
		    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
			.testimonial-image{
				margin-right: 20px;
			}
			.testimonial-name{
				margin: 0 0 10px;
			}
			.testimonial-created-time{
				font-style:italic;
				font-weight:bold;
				font-size: 1rem;
				margin: 5px 0 0;
			}
		}
	}
}
.products-grid .product-item{
	margin-bottom: 30px;
}
// producttab-container
.tab-title{
	margin: 0 0 20px;
	padding-right: 50px;
	position: relative;
	overflow: hidden;
	&:after{
		content: "";
		width: 100%;
		height: 2px;
		background: @category_tab_color;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	.title{
		float: left;
		h3{
			margin: 0;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.4rem!important;
			background: @category_tab_color;
			color: #fff;
			display: inline-block;
			position: relative;
			margin: 0;
			padding: 17px 20px 15px;
			border-radius: 3px 3px 0 0
		}
	}
	.tabs{
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		right: 60px;
		top: 10px;
		li{
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			padding-left: 30px;
			cursor: pointer;
			font-size: 1.4rem;
			color: #949494;
			&.active{
				color:  @general_link_hover_color;
			}
		}
	}
}
// timerproducts
.timerproducts{
	margin-top: 50px;
}
.countdown-slider{
	margin-bottom: 20px;
	.owl-item:nth-child(odd) {
		border-right: 1px solid #eee;
	}
	.products-grid{
		border: 0;
		.product-item{
			.item-inner{
				padding: 0 15px;
				.product-item-info{
					.product-images{
						float: left;
						width:40%;
						position: relative;
						overflow: hidden;
					}
					.product-item-details{
						overflow: hidden;
						zoom: 1;
					    padding: 15px;
					    text-align: left;
					     .product-reviews-summary .rating-summary{
					     	text-align: left;
					     }
					}
				}
			}
		}
	}
	.countdown-container{
		.timer{
			background: #f4f6f7;
			display: inline-block;
			vertical-align: middle;
			text-align: left;
			min-width:53px;
			border-radius: 5px;
			margin: 0 2px 5px;
			padding: 25px 10px 0;
			b{
				display: block;
				line-height: 1;
				font-size: 1.6rem;
				font-weight: 500;
				color: #000;
			}
			span{
				line-height: 1;
			}
		}
	}
}
.product-info-main{
	.countdown-container{
		padding-left: 0;
		background: none;
		color: #444;
		text-align: left;
		&:before{
			display: none;
		}
		.timer{
			border: 0;
			max-width:60px;
			span{
				color: @general_link_hover_color;
				padding: 0 7px;
			}
		}
	}
}
// pt_categorytop
.categorytop-title{
	margin: 0 0 20px;
	position: relative;
    overflow: hidden;
    &:after{
		content: "";
		width: 100%;
		height: 2px;
		background: @category_top_title_color;
		position: absolute;
		left: 0;
		bottom: 0;
    }
	h3{
		margin: 0;
		span{
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.4rem !important;
			background: @category_top_title_color;
			color: #fff;
			display: inline-block;
			position: relative;
			margin: 0;
			padding: 15px 20px 13px;
			border-radius: 3px 3px 0 0;
		}
	}

}
.pt_categorytop{
	margin-bottom: 50px;
	margin-top: 50px;

	.owl-item{
		&:last-child{
			.product_row{
				border: 0;
			}
		}
	}
	.product_row{
		padding: 0 15px;
		border-right: 1px solid #eee;
		.catgrid{
			.catlist_images{
				margin: 0 0 20px;
			}
			h4.name{
				font-size: 1.6rem;
				font-weight: 500;
				margin: 0 0 10px;
			}
			.catlist_name{
				ul{
					li{
						margin: 0;
						font-size: 1.4rem;
					}
				}
			}
		}
	}
}
// ma-title
.ma-title{
	background: @general_link_hover_color;
	padding: 16px;
	border-radius: 3px 3px 0 0;
	h3{
		margin: 0;
		color: #fff;
		text-transform:uppercase;
		font-weight: bold;
		font-size: 1.4rem;
	}
}
.proup-products{
	background: #f7f7f7;
	padding: 50px 0 0;
	border-top: 1px solid #eee;
	.products-grid{
		background: #fff;
		padding: 20px;
		border-bottom: 1px solid #eee;
		border-radius: 0 0 3px 3px;
		.product-items{
			overflow: hidden;
			margin: 0;
			margin-bottom: 30px;
			padding-bottom: 30px;
			border-bottom: 1px #eee solid;
			min-height: 130px;
			display: block;
			&:last-child{
				padding: 0;
				margin: 0;
				border: 0;
			}
			.item-inner{
				padding: 0;
				.image-container{
					width: 85px;
					margin-right: 15px;
				}
			}
		}
	}
}
.new-product-slider{
	margin: 50px 0;
	.products-grid{
		background: #fff;
		padding: 15px;
		border: 1px solid #eee;
		.product-items{
			overflow: hidden;
			margin: 0;
			margin-bottom: 20px;
			padding-bottom: 15px;
			border-bottom: 1px #eee solid;
			&:last-child{
				padding: 0;
				margin: 0;
				border: 0;
			}
			.item-inner{
				padding: 0;
				.image-container{
					width: 85px;
					margin-right: 10px;
				}
				.des{
					text-align: left;
					.product-reviews-summary{
						line-height: 1;
					}
				}
			}
		}
	}
}
.product.attribute.description{
	font-size: 1.4rem;
}
.product.data.items>.item.title>.switch{
	border: 0;
}

.product-tab{
	.owl-item:nth-child(5){
		.products-grid{
			.product-item{
				&:after{
					display: none;
				}
			}
		}
	}
	.products-grid{
		border: 0;

		.product-item{
			position: relative;
			padding: 0 10px;
			border-bottom: 1px solid #eee;
			margin-bottom: 20px;
			&:last-child{
				border-bottom: 0;
			}
			&:after{
				content: "";
				width: 1px;
				background: transparent;
				position: absolute;
				right: 0;
				top: 0;
				bottom: 20px;
			}
		}

	}
/*	.products-grid .product-item-info:hover .product-item-details .add-to-cart-primary{
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	} */
}

.columns .pt-recentproduct-container{
	.products-grid{
		margin-top: 30px;
		.product-items{
			margin-bottom: 20px;
			.item-inner{
				overflow: hidden;
				padding: 0 10px;
			    width: 100%;
				.image-container{
					width: 90px;
				}
			}
		}
	}
	.owl-item .products-grid{
		border: 0;
	}
	.owl-theme .owl-controls .owl-buttons{
	    top: -40px;
	    right: 15px;
	    > div{
			color: #666;
			&.owl-prev{
				&:after{
					background: #666;
				}
	    	}
	    	&:hover{
	    		color: #fff;
	    	}
		}
	}
}
.product-tab{
	.owl-item:nth-child(5){
		.products-grid{
			.product-item{
				&:after{
					display: none;
				}
			}
		}
	}
	.products-grid{
		border: 0;

		.product-item{
			position: relative;
			padding: 0 10px;
			border-bottom: 1px solid #eee;
			margin-bottom: 20px;
			&:last-child{
				border-bottom: 0;
			}
			&:after{
				content: "";
				width: 1px;
				background: transparent;
				position: absolute;
				right: 0;
				top: 0;
				bottom: 20px;
			}
		}

	}
	.products-grid .product-item-info:hover .product-item-details .add-to-cart-primary{
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
@media (min-width: 1024px){
	.page-products .products-grid .product-item{
		width: 25%;
		margin:0;
	}
}
.column.main .product-items{
	margin: 0;
}
.products-grid .product-items .product-item:last-child{
	    border-right: 0px solid #eee;
}
.page-products .products-grid .product-item{
	position: relative;
	&:after{
		content: "";
		width: 100%;
		height: 1px;
		background: #eee;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
