//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__sans-serif: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

@headingfont:'Rubik', sans-serif;
@bodyfont: 'Rubik', sans-serif;
//
//  Sidebar
//  ---------------------------------------------
@color-white-smoke:#fff;
@color-gray56:gray;
@sidebar__background-color: @color-white-smoke;  // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

@copyright__background-color: @color-gray56;

@general_bg_color:#fff;
@general_title_color:#262626;
@general_text_color:#666666;
@general_link_color:#434343;
@general_link_hover_color:#d2da47;
@general_price_color:#C8102E;
@general_old_price_color:#999999;
@general_border_color:#F1F1F1;
@general_product_name_color:#323232;
@general_new_label_color:#c92c61;
@general_sale_label_color:#c92c61;
@header_bg_color:#0c2d53;
@header_link_color:#262626;
@footer_top_bg_color:#142a45;
@footer_top_title_color:#828282;
@footer_top_text_color:#828282;
@footer_top_link_color:#323232;
@footer_bottom_bg_color:#2d343c;
@footer_bottom_text_color:#828282;
@footer_bottom_link_color:#828282;
@nav_ozmegamenu_bg_color: #142a45;
@nav_ozmegamenu_bb_color: #d2da47;
@bucket_counter_bg_color: #d2da47;
@megamenu_title_bg_color: #d2da47;
@search_button_bg_color: #d2da47;
@button_bg_color: #142a45;
@wishlist_link_color: #d2da47;
@show_cart_color: #d2da47;
@category_top_title_color: #142a45;
@category_tab_color: #142a45;
@action_primary_color: #142a45;
@general_color:#d2da47;
@general_dark_color:#142a45;
@customer_nav_items_color: #ee9806;
@customer_edit_address_telephone_link_color: #ee9806;
@customer_wishlist_actions_color: #ee9806;
@customer_block_link_color: #ee9806;
@checkout_edit_action_color: #ee9806;
@border_bottom_color: #d2da47;
@checkout_shipping_item_border_color: #0C2D53;

.transition (@transition: 0.3s) {
	-webkit-transition: all @transition ease-out;
	-moz-transition:    all @transition ease-out;
	-ms-transition:     all @transition ease-out;
	-o-transition:      all @transition ease-out;
}

.bordered-button(
    @border: false,
    @background: @button_bg_color,
    @color: #ffffff,
    @textTransform: capitalize,
    @padding: 0 15px,
    @lineHeight: 40px,
    @height: 40px) {

    & when (@border = true) {
      border-bottom: 2px solid @border_bottom_color;
    }

    display: block;
    background: @background;
    color: @color;
    text-transform: @textTransform;
    padding: @padding;
    line-height: @lineHeight;
    height: @height;
}
