<?php
// @codingStandardsIgnoreFile

/** @var $block \Bss\AddMultipleProducts\Block\ConfigData */

?>
<?php
    $class_apply = explode(',', $block->displayAddmunltiple());
    $priceIncludesTax = $block->priceIncludesTax();
    $group_Id = $block->getGroupCustomerId();
?>
<?php if ($block->getBackgroundStick()) : ?>
    <style>
        .ad-mt-stick{
            background-image: url(<?= /* @escapeNotVerified */ $block->getBackgroundStick() ?>);
        }
    </style>
<?php endif ?>

<?php if ($block->isEnabled() && !empty($class_apply)) : ?>
<div id="bss_ajaxmuntiple_cart_popup"></div>
<input type="hidden" name="" id="currency-add" value="<?= /* @escapeNotVerified */ $block->getCurrentCurrency(); ?>">
<script type="text/x-magento-init">
    {
        "*": {
            "Bss_AddMultipleProducts/js/addmultipleproducts": {
                "jsonClassApply": <?= /* @escapeNotVerified */ json_encode($class_apply, JSON_FORCE_OBJECT) ?>,
                "showCheckbox": <?= /* @escapeNotVerified */ $block->showSelectProduct()? $block->showSelectProduct() : 'false'  ?>,
                "showStick": <?= /* @escapeNotVerified */ $block->showStick()? $block->showStick() : 'false' ?>,
                "positionBT": <?= /* @escapeNotVerified */ $block->positionButton()? $block->positionButton() : '0' ?>,
                "urlAddToCart": "<?= /* @escapeNotVerified */ $block->geturlAddToCart(); ?>",
                "priceIncludesTax": <?= /* @escapeNotVerified */ $priceIncludesTax? $priceIncludesTax : 'false' ?>
            }
        }
    }
</script>
<?php endif ?>
<!-- form -->
<script id="form-multiple-add" type="text/x-magento-template">
    <form action="<?= /* @escapeNotVerified */ $block->geturlAddMultipleToCart() ?>" method="post" id="<%- data.id %>" name="<%- data.name %>" class="<%- data.class %>">
        <div class="add-option" style="display: none;">
             <!-- content -->
        </div>
    </form>
</script>
<!-- input qty -->
<script id="qty-multiple-add" type="text/x-magento-template">
    <input type="text" class="qty-m-c" data-group="<%- data.group %>" name="qty" placeholder="<?= /* @escapeNotVerified */ $block->defaultQty()?>" value="<?= /* @escapeNotVerified */ $block->defaultQty()?>">
</script>
<!-- check box -->
<script id="checkbox-multiple-add" type="text/x-magento-template">
    <?php if ($block->showSelectProduct()) : ?>
        <input type="checkbox" name="product-select[]" id="<%- data.id %>" data-froma="<%- data.froma %>" class="<%- data.class %>" value="<%- data.value %>">
    <?php else : ?>
        <input type="hidden" name="product-select[]" id="<%- data.id %>" data-froma="<%- data.froma %>" class="<%- data.class %>" value="<%- data.value %>">
    <?php endif ?>
</script>
<!-- button add all -->
<script id="button-multiple-add" type="text/x-magento-template">
    <div class="button-bs-ad">
    <?php if ($block->showSelectProduct()) : ?>
        <input type="checkbox" name="addall" class="add-all-product" value="" id="checkall">
        <label for="checkall" style="margin-right: 15px;">
            <?= /* @escapeNotVerified */ __('Check All') ?>
        </label>
    <?php endif ?>
        <button type="button" title="<?= /* @escapeNotVerified */ __('Add all products to Cart') ?>" id="<%- data.id %>" data-froma="<%- data.froma %>" class="action primary addmanytocart">
            <span><?= /* @escapeNotVerified */ __('Add all products to Cart') ?></span>
            <?php if ($block->showTotal() == 1) : ?>
                <span class="total_products">(<?= /* @escapeNotVerified */ __('Total Products') ?>: <span>0</span>)</span>
            <?php endif ?>
            <?php if ($block->showTotal() == 2) : ?>
                <span class="total_qty">(<?= /* @escapeNotVerified */ __('Total Qty') ?>: <span>0</span>)</span>
            <?php endif ?>
        </button>
    </div>
</script>