<div class="delivery-notes-input" data-bind="ifnot: isUpdated">
    <textarea name="" id="delivery-notes" cols="30" rows="1" placeholder="Add notes for delivery"
              data-bind="i18n: 'Add notes for delivery', textInput: text
">
</textarea>
</div>

<div class="" data-bind="if: isUpdated, css: {'delivery-notes-text': isUpdated}">
    <span data-bind="text: text"></span>
</div>

<div class="delivery-notes-add-button">
    <button class="action primary checkout" data-bind="text: action(), click: addChangeNotes">

    </button>
</div>
