<?php
	
	$enable = $block->getConfig('enabled');
	if($enable < 1) return ;  
	$itemsDefault = $block->getConfig('itemsDefault');
	$itemsDesktop = $block->getConfig('itemsDesktop');
	$itemsDesktopSmall = $block->getConfig('itemsDesktopSmall');
	$itemsTablet = $block->getConfig('itemsTablet');
	$itemsMobile = $block->getConfig('itemsMobile');
	$title = $block->getConfig('title'); 
	$speed = $block->getConfig('speed');
	$qty = $block->getConfig('qty');
	$showCart = $block->getConfig('addtocart');
	$showWishlist = $block->getConfig('wishlist');
	$showCompare = $block->getConfig('compare');
	$show_navigation = $block->getConfig('navigation');
	$show_pagination = $block->getConfig('pagination');
	$auto = $block->getConfig('auto');
	$rows = $block->getConfig('row');
	
?>
<div class="new-product-slider">
	<div class='ma-title'>
		<h3><span><?php echo $title;?> </span></h3>
	</div>
	<div id="new_product_slider" class="owl-carousel">
		<?php 
		$newItems =  $block -> getNewProduct()->getItems(); 
		$imageBlock =  $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
		$image = 'new_products_content_widget_grid';
		$type = 'widget-new-grid';
		$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
		$i=0;
		foreach($newItems as $_item) { 
			$productImage = $block->getImage($_item, $image);
			?>
			<?php if($i++%$rows==0) { ?> <div class="products-grid"> <?php } ?>
			<div class="product-items">
				<div class="item-inner">
					<div class="product-item-info">
						<div class="image-container pull-left">
							<a href="<?php echo $block->getProductUrl($_item) ?>" class="product-item-photo"><?php echo $productImage->toHtml() ?></a>
						</div>
						<div class="des media-body">
						
							 <strong class="product name product-item-name">
								<a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
								   href="<?php echo $block->getProductUrl($_item) ?>"
								   class="product-item-link">
									<?php echo $block->escapeHtml($_item->getName()) ?>
								</a>
							</strong>
							<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true); ?>
							<?php echo $block->getProductPrice($_item); ?>
							
						</div>
						
					</div>
				</div>
			</div>
			<?php if($i%$rows==0 || $i == count($newItems)) { ?> </div> <?php }?>
		<?php 
		}
		?>
	</div>
</div>
<script type="text/javascript">
require([
  "jquery",
  "owlcarousel/minjs"
 ], function($,owlCarousel){
	
   $("#new_product_slider").owlCarousel({
		autoPlay : <?php if($auto) echo 'true'; else echo 'false'; ?>,
		slideSpeed : <?php if($speed) echo $speed; else echo '500'; ?>,
		navigation : <?php if($show_navigation) echo 'true'; else echo 'false'; ?>,
		stopOnHover : true,
		pagination : <?php if($show_pagination) echo 'true'; else echo 'false'; ?>,
		items : 1,
		itemsDesktop : [1199,1],
		itemsDesktopSmall : [992,1],
		itemsTablet: [767,1],
		itemsMobile : [479,1],
   });
   
});


</script> 
