<?php

use Magento\Customer\Api\AddressRepositoryInterface;
use Magento\Customer\Block\Account\Dashboard\Address;
use Magento\Customer\Block\Address\Edit;
use Magento\Customer\Block\Widget\Company;
use Magento\Customer\Block\Widget\Fax;
use Magento\Customer\Block\Widget\Telephone;
use Magento\Customer\Model\Address\Config;
use Magento\Customer\Model\Address\Mapper;
use Magento\Customer\Model\Session;
use Magento\Framework\App\ObjectManager;

$addressBLock = ObjectManager::getInstance()->create(Address::class);
$addressConfig = ObjectManager::getInstance()->create(Config::class);
$renderer = $addressConfig->getFormatByCode('html')->getRenderer();
$addressRepository = ObjectManager::getInstance()->create(AddressRepositoryInterface::class);
$addressMapper = ObjectManager::getInstance()->create(Mapper::class);
/** @var Session $customerSession */
$customerSession = ObjectManager::getInstance()->create(Session::class);
$address = ObjectManager::getInstance()->create(\Magento\Customer\Model\AddressFactory::class)->create();
$addressList = $this->helper(\Aim\ManageCheckout\Helper\Address::class)->getList();
/** @var Edit $block */
$address = $address->load($block->getAddress()->getId());
$addressId = $block->getRequest()->getParam('id');
?>
<?php $_company = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Company::class) ?>
<?php $_telephone = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Telephone::class) ?>
<?php $_fax = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Fax::class) ?>
<?php if ($addressId): ?>
    <legend class="legend"><span><?= $block->escapeHtml(__('Current Shipping Address')) ?></span></legend><br>
    <div class="block">
        <div class="block-content">
            <?php echo $addressBLock->getPrimaryShippingAddressHtml(); ?>
        </div>
    </div>
    <form class="form-address-edit"
          data-password="0"
          action="<?= $block->escapeUrl($block->getSaveUrl()) ?>"
          method="post"
          id="form-validate"
          enctype="multipart/form-data"
          data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
        <fieldset class="fieldset" style="display: none">
            <legend class="legend"><span><?= $block->escapeHtml(__('Contact Information')) ?></span></legend>
            <br>
            <?= $block->getBlockHtml('formkey') ?>
            <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
            <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
            <?= $block->getNameBlockHtml() ?>

            <?php if ($_company->isEnabled()) : ?>
                <?= $_company->setCompany($block->getAddress()->getCompany())->toHtml() ?>
            <?php endif ?>

            <?php if ($_telephone->isEnabled()) : ?>
                <?= $_telephone->setTelephone($block->getAddress()->getTelephone())->toHtml() ?>
            <?php endif ?>

            <?php if ($_fax->isEnabled()) : ?>
                <?= $_fax->setFax($block->getAddress()->getFax())->toHtml() ?>
            <?php endif ?>

        </fieldset>
        <fieldset class="fieldset">
            <legend class="legend"><span><?= $block->escapeHtml(__('Change Shipping Address')) ?></span></legend>
            <br>
            <div class="change-shipping-address-wrapper">
                <div>
                    <div class="field region required">
                        <label class="label" for="region_id">
                        <span><?= /* @noEscape */
                            $block->getAttributeData()->getFrontendLabel('region') ?></span>
                        </label>
                        <div class="control">
                            <select id="region_id" name="region_id"
                                    title="<?= /* @noEscape */
                                    $block->getAttributeData()->getFrontendLabel('region') ?>"
                                    class="validate-select region_id" <?= /* @noEscape */
                            !$block->getConfig('general/region/display_all') ? ' disabled="disabled"' : '' ?>>
                                <option
                                    value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                            </select>
                            <input type="text"
                                   id="region"
                                   name="region"
                                   value="<?= $block->escapeHtmlAttr($block->getRegion()) ?>"
                                   title="<?= /* @noEscape */
                                   $block->getAttributeData()->getFrontendLabel('region') ?>"
                                   class="input-text validate-not-number-first <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('region')) ?>"<?= !$block->getConfig('general/region/display_all') ? ' disabled="disabled"' : '' ?>/>
                        </div>
                    </div>
                    <div>
                        <?php echo $renderer->renderArray($addressMapper->toFlatArray($block->getAddress())); ?>
                    </div>
                </div>
                <div class="field address-list">
                    <label class="label" for="job_site">
                        <span><?= $block->escapeHtml(__('Select Job Site')) ?></span>
                    </label>
                    <select name="job_site" id="job_site">
                        <?php /** @var \Magento\Customer\Model\Data\Address $addressItem */ ?>
                        <?php foreach ($addressList as $addressItem): ?>
                            <?php $selected = $address->getJobSite() === implode(' ', $addressItem->getStreet()) ? 'selected' : ''; ?>
                            <option value="<?php echo implode(' ', $addressItem->getStreet()) ?>"
                                <?php
                                if (!isset($choosed) && $selected) {
                                    $choosed = true;
                                    echo $selected;
                                }
                                ?> >
                                <?php echo implode(' ', $addressItem->getStreet()) ?>
                            </option>
                        <?php endforeach; ?>
                        <?php if (empty($selected)): ?>
                            <option value="<?php echo $address->getJobSite() ?>" selected>
                                <?php echo $address->getJobSite() ?>
                            </option>
                        <?php endif; ?>
                    </select>
                </div>
            </div>
            <?php $_streetValidationClass = $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('street'); ?>
            <div class="field street required">
                <label for="street_1" class="label">
                <span><?= /* @noEscape */
                    $block->getAttributeData()->getFrontendLabel('street') ?></span>
                </label>
                <div class="control">
                    <input type="text"
                           name="street[]"
                           value="<?= $block->escapeHtmlAttr($block->getStreetLine(1)) ?>"
                           title="<?= /* @noEscape */
                           $block->getAttributeData()->getFrontendLabel('street') ?>"
                           id="street_1"
                           class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>"/>
                    <div class="nested">
                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <?php for ($_i = 1, $_n = $this->helper(\Magento\Customer\Helper\Address::class)->getStreetLines(); $_i < $_n; $_i++) : ?>
                            <div class="field additional">
                                <label class="label" for="street_<?= /* @noEscape */
                                $_i + 1 ?>">
                                    <span><?= $block->escapeHtml(__('Street Address %1', $_i + 1)) ?></span>
                                </label>
                                <div class="control">
                                    <input type="text" name="street[]"
                                           value="<?= $block->escapeHtmlAttr($block->getStreetLine($_i + 1)) ?>"
                                           title="<?= $block->escapeHtmlAttr(__('Street Address %1', $_i + 1)) ?>"
                                           id="street_<?= /* @noEscape */
                                           $_i + 1 ?>"
                                           class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                                </div>
                            </div>
                        <?php endfor; ?>
                    </div>
                </div>
            </div>

            <?php if ($this->helper(\Magento\Customer\Helper\Address::class)->isVatAttributeVisible()) : ?>
                <div class="field taxvat">
                    <label class="label" for="vat_id">
                    <span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('vat_id') ?></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               name="vat_id"
                               value="<?= $block->escapeHtmlAttr($block->getAddress()->getVatId()) ?>"
                               title="<?= /* @noEscape */
                               $block->getAttributeData()->getFrontendLabel('vat_id') ?>"
                               class="input-text <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('vat_id')) ?>"
                               id="vat_id">
                    </div>
                </div>
            <?php endif; ?>
            <div class="field city required">
                <label class="label" for="city"><span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('city') ?></span></label>
                <div class="control">
                    <input type="text"
                           name="city"
                           value="<?= $block->escapeHtmlAttr($block->getAddress()->getCity()) ?>"
                           title="<?= $block->escapeHtmlAttr(__('City')) ?>"
                           class="input-text <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('city')) ?>"
                           id="city">
                </div>
            </div>
            <div class="field zip required">
                <label class="label" for="zip">
                <span><?= /* @noEscape */
                    $block->getAttributeData()->getFrontendLabel('postcode') ?></span>
                </label>
                <div class="control">
                    <input type="text"
                           name="postcode"
                           value="<?= $block->escapeHtmlAttr($block->getAddress()->getPostcode()) ?>"
                           title="<?= /* @noEscape */
                           $block->getAttributeData()->getFrontendLabel('postcode') ?>"
                           id="zip"
                           class="input-text validate-zip-international <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('postcode')) ?>">
                    <div role="alert" class="message warning" style="display:none">
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="field country required">
                <label class="label" for="country"><span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('country_id') ?></span></label>
                <div class="control">
                    <?= $block->getCountryHtmlSelect() ?>
                </div>
            </div>

            <?php if ($block->isDefaultBilling()) : ?>
                <div class="message info">
                    <span><?= $block->escapeHtml(__("It's a default billing address.")) ?></span>
                </div>
            <?php elseif ($block->canSetAsDefaultBilling()) : ?>
                <div class="field choice set billing">
                    <input type="checkbox" id="primary_billing" name="default_billing" value="1" class="checkbox">
                    <label class="label" for="primary_billing">
                        <span><?= $block->escapeHtml(__('Use as my default billing address')) ?></span>
                    </label>
                </div>
            <?php else : ?>
                <input type="hidden" name="default_billing" value="1"/>
            <?php endif; ?>

            <?php if ($block->isDefaultShipping()) : ?>
                <div class="message info">
                    <span><?= $block->escapeHtml(__("It's a default shipping address.")) ?></span>
                </div>
            <?php elseif ($block->canSetAsDefaultShipping()) : ?>
                <div class="field choice set shipping">
                    <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" class="checkbox">
                    <label class="label" for="primary_shipping">
                        <span><?= $block->escapeHtml(__('Use as my default shipping address')) ?></span>
                    </label>
                </div>
            <?php else : ?>
                <input type="hidden" name="default_shipping" value="1">
            <?php endif; ?>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit"
                        class="action save primary"
                        data-action="save-address"
                        title="<?= $block->escapeHtmlAttr(__('Save Address')) ?>">
                    <span><?= $block->escapeHtml(__('Save Address')) ?></span>
                </button>
            </div>
            <div class="secondary">
                <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>">
                    <span><?= $block->escapeHtml(__('Go back')) ?></span>
                </a>
            </div>
        </div>
    </form>
<?php else: ?>
    <form class="form-address-edit new"
          action="<?= $block->escapeUrl($block->getSaveUrl()) ?>"
          method="post"
          id="form-validate"
          enctype="multipart/form-data"
          data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
        <fieldset class="fieldset">
            <legend class="legend"><span><?= $block->escapeHtml(__('Contact Information')) ?></span></legend>
            <br>
            <?= $block->getBlockHtml('formkey') ?>
            <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
            <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
            <?= $block->getNameBlockHtml() ?>

            <?php if ($_company->isEnabled()) : ?>
                <?= $_company->setCompany($block->getAddress()->getCompany())->toHtml() ?>
            <?php endif ?>

            <?php if ($_telephone->isEnabled()) : ?>
                <?= $_telephone->setTelephone($block->getAddress()->getTelephone())->toHtml() ?>
            <?php endif ?>

            <?php if ($_fax->isEnabled()) : ?>
                <?= $_fax->setFax($block->getAddress()->getFax())->toHtml() ?>
            <?php endif ?>

        </fieldset>
        <fieldset class="fieldset">
            <legend class="legend"><span><?= $block->escapeHtml(__('Address')) ?></span></legend>
            <br>
            <?php $_streetValidationClass = $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('street'); ?>
            <div class="field street required">
                <label for="street_1" class="label">
                    <span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('street') ?></span>
                </label>
                <div class="control">
                    <input type="text"
                           name="street[]"
                           value="<?= $block->escapeHtmlAttr($block->getStreetLine(1)) ?>"
                           title="<?= /* @noEscape */
                           $block->getAttributeData()->getFrontendLabel('street') ?>"
                           id="street_1"
                           class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>"/>
                    <div class="nested">
                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <?php for ($_i = 1, $_n = $this->helper(\Magento\Customer\Helper\Address::class)->getStreetLines(); $_i < $_n; $_i++) : ?>
                            <div class="field additional">
                                <label class="label" for="street_<?= /* @noEscape */
                                $_i + 1 ?>">
                                    <span><?= $block->escapeHtml(__('Street Address %1', $_i + 1)) ?></span>
                                </label>
                                <div class="control">
                                    <input type="text" name="street[]"
                                           value="<?= $block->escapeHtmlAttr($block->getStreetLine($_i + 1)) ?>"
                                           title="<?= $block->escapeHtmlAttr(__('Street Address %1', $_i + 1)) ?>"
                                           id="street_<?= /* @noEscape */
                                           $_i + 1 ?>"
                                           class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                                </div>
                            </div>
                        <?php endfor; ?>
                    </div>
                </div>
            </div>

            <?php if ($this->helper(\Magento\Customer\Helper\Address::class)->isVatAttributeVisible()) : ?>
                <div class="field taxvat">
                    <label class="label" for="vat_id">
                        <span><?= /* @noEscape */
                            $block->getAttributeData()->getFrontendLabel('vat_id') ?></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               name="vat_id"
                               value="<?= $block->escapeHtmlAttr($block->getAddress()->getVatId()) ?>"
                               title="<?= /* @noEscape */
                               $block->getAttributeData()->getFrontendLabel('vat_id') ?>"
                               class="input-text <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('vat_id')) ?>"
                               id="vat_id">
                    </div>
                </div>
            <?php endif; ?>
            <div class="field city required">
                <label class="label" for="city"><span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('city') ?></span></label>
                <div class="control">
                    <input type="text"
                           name="city"
                           value="<?= $block->escapeHtmlAttr($block->getAddress()->getCity()) ?>"
                           title="<?= $block->escapeHtmlAttr(__('City')) ?>"
                           class="input-text <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('city')) ?>"
                           id="city">
                </div>
            </div>
            <div class="field region required">
                <label class="label" for="region_id">
                    <span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('region') ?></span>
                </label>
                <div class="control">
                    <select id="region_id" name="region_id"
                            title="<?= /* @noEscape */
                            $block->getAttributeData()->getFrontendLabel('region') ?>"
                            class="validate-select region_id" <?= /* @noEscape */
                    !$block->getConfig('general/region/display_all') ? ' disabled="disabled"' : '' ?>>
                        <option
                            value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                    </select>
                    <input type="text"
                           id="region"
                           name="region"
                           value="<?= $block->escapeHtmlAttr($block->getRegion()) ?>"
                           title="<?= /* @noEscape */
                           $block->getAttributeData()->getFrontendLabel('region') ?>"
                           class="input-text validate-not-number-first <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('region')) ?>"<?= !$block->getConfig('general/region/display_all') ? ' disabled="disabled"' : '' ?>/>
                </div>
            </div>
            <div class="field zip required">
                <label class="label" for="zip">
                    <span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('postcode') ?></span>
                </label>
                <div class="control">
                    <input type="text"
                           name="postcode"
                           value="<?= $block->escapeHtmlAttr($block->getAddress()->getPostcode()) ?>"
                           title="<?= /* @noEscape */
                           $block->getAttributeData()->getFrontendLabel('postcode') ?>"
                           id="zip"
                           class="input-text validate-zip-international <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('postcode')) ?>">
                    <div role="alert" class="message warning" style="display:none">
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="field country required">
                <label class="label" for="country"><span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('country_id') ?></span></label>
                <div class="control">
                    <?= $block->getCountryHtmlSelect() ?>
                </div>
            </div>

            <?php if ($block->isDefaultBilling()) : ?>
                <div class="message info">
                    <span><?= $block->escapeHtml(__("It's a default billing address.")) ?></span>
                </div>
            <?php elseif ($block->canSetAsDefaultBilling()) : ?>
                <div class="field choice set billing">
                    <input type="checkbox" id="primary_billing" name="default_billing" value="1" class="checkbox">
                    <label class="label" for="primary_billing">
                        <span><?= $block->escapeHtml(__('Use as my default billing address')) ?></span>
                    </label>
                </div>
            <?php else : ?>
                <input type="hidden" name="default_billing" value="1"/>
            <?php endif; ?>

            <?php if ($block->isDefaultShipping()) : ?>
                <div class="message info">
                    <span><?= $block->escapeHtml(__("It's a default shipping address.")) ?></span>
                </div>
            <?php elseif ($block->canSetAsDefaultShipping()) : ?>
                <div class="field choice set shipping">
                    <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" class="checkbox">
                    <label class="label" for="primary_shipping">
                        <span><?= $block->escapeHtml(__('Use as my default shipping address')) ?></span>
                    </label>
                </div>
            <?php else : ?>
                <input type="hidden" name="default_shipping" value="1">
            <?php endif; ?>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit"
                        class="action save primary"
                        data-action="save-address"
                        title="<?= $block->escapeHtmlAttr(__('Save Address')) ?>">
                    <span><?= $block->escapeHtml(__('Save Address')) ?></span>
                </button>
            </div>
            <div class="secondary">
                <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>">
                    <span><?= $block->escapeHtml(__('Go back')) ?></span>
                </a>
            </div>
        </div>
    </form>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "addressValidation": {
                "postCodes": <?= /* @noEscape */
    $block->getPostCodeConfig()->getSerializedPostCodes(); ?>
            }
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */
    $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */
    $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int)$block->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */
    $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }

</script>
