<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Wishlist\Block\Catalog\Product\View\AddTo\Wishlist $block */
?>

<div>
    <?php if ($block->isWishListAllowed()) : ?>
        <a href="#"
           class="action towishlist"
           data-post='<?= /* @noEscape */
           $block->getWishlistParams() ?>'
           data-action="add-to-wishlist">
        </a>
        <span><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
    <?php endif; ?>
</div>
<script type="text/x-magento-init">
    {
        "body": {
            "addToWishlist": <?= /* @noEscape */
    $block->getWishlistOptionsJson() ?>
        }
    }

</script>
