<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Sales\Block\Reorder\Sidebar;
use Magento\Framework\App\Action\Action;

/**
 * Last ordered items sidebar
 *
 * @var $block Sidebar
 */
?>
<div class="block block-reorder" data-bind="scope: 'lastOrderedItems'">
    <div class="block-title">
        <strong id="block-reorder-heading" role="heading"
                aria-level="2"><?= $block->escapeHtml(__('Recently Ordered')) ?></strong>
    </div>

    <div class="block-content no-display"
         data-bind="css: {'no-display': !lastOrderedItems().items || lastOrderedItems().items.length === 0}"
         aria-labelledby="block-reorder-heading">
        <ol id="cart-sidebar-reorder" class="product-items product-items-names"
            data-bind="foreach: lastOrderedItems().items">
            <li class="product-item">
                <div>
                    <a href="" class="product-item-photo">
                        <span class="product-image-container">
                            <img src="" data-bind="attr: {src: image}" alt="">
                        </span>
                    </a>
                    <strong class="product-item-name">
                        <a data-bind="attr: {href: url}" class="product-item-link">
                            <span data-bind="text: name"></span>
                        </a>
                    </strong>
                </div>
                <div class="des media-body" data-bind="html: price">

                </div>
                <div class="product-item-actions" data-bind="if: is_saleable">
                    <div class="add-to-cart-primary">
                        <form data-role="tocart-form" action="" data-bind="attr: {action: action}" method="post">
                            <input type="hidden" name="product" value="" data-bind="attr: {value: product_id}">
                            <input type="hidden" name="<?php /* @escapeNotVerified */
                            echo Action::PARAM_NAME_URL_ENCODED; ?>" value="" data-bind="attr: {value: value}">
                            <?php echo $block->getBlockHtml('formkey') ?>
                            <button type="submit"
                                    style="text-transform: unset"
                                    class="action primary tocart"
                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                            >
                                <span><?php /* @escapeNotVerified */
                                    echo __('Add to Cart') ?></span>
                            </button>
                        </form>
                    </div>
                </div>
            </li>
        </ol>
    </div>
    <div data-bind="css: {'no-display': lastOrderedItems().items.length > 0}">
        <?= $block->escapeHtml(__('You do not have any recently ordered products.')) ?>
    </div>
</div>
    <script>
        require(["jquery", "mage/mage"], function (jQuery) {
            jQuery('#reorder-validate-detail').mage('validation', {
                errorPlacement: function (error, element) {
                    error.appendTo('#cart-sidebar-reorder-advice-container');
                }
            });
        });
    </script>
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "lastOrderedItems": {
                    "component": "Magento_Sales/js/view/last-ordered-items"
                }
            }
        }
    }
}


</script>
