<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use Aim\ManageCheckout\Helper\Wishlist;
use Magento\Framework\App\ObjectManager;

/** @var \Magento\Wishlist\Block\Customer\Wishlist $block */

$registry = ObjectManager::getInstance()->create(Magento\Framework\Registry::class);
$wishlist = ObjectManager::getInstance()->create(Magento\Wishlist\Block\Customer\Wishlist::class);
$wishlistHelper = $this->helper(Wishlist::class);
$registry->register('shared_wishlist', $wishlist);
?>

<?php if ($this->helper(\Magento\Wishlist\Helper\Data::class)->isAllow()) : ?>
    <div class="block block-wishlist">
        <div class="block-title">
            <strong><?php echo __('Favorites'); ?></strong>
            <a class="" href="<?php echo $block->getUrl('wishlist')?>"><?php echo __('View All')?></a>
        </div>
        <div class="block-content">
            <div class="toolbar wishlist-toolbar"><?= $block->getChildHtml('wishlist_item_pager'); ?></div>
            <?= ($block->getChildHtml('wishlist.rss.link')) ?>
            <form class="form-wishlist-items" id="wishlist-view-form"
                  data-mage-init='{"wishlist":{
          "addToCartUrl":<?= /* @noEscape */ $block->getItemAddToCartParams("%item%") ?>,
          "addAllToCartUrl":<?= /* @noEscape */ $block->getAddAllToCartParams() ?>,
          "commentString":""},
          "validation": {}}' action="<?= $block->escapeUrl($block->getUrl('wishlist/index/update', ['wishlist_id' => $block->getWishlistInstance()->getId()])) ?>" method="post">
                <?= $block->getChildHtml('top') ?>
                <?php if ($block->hasWishlistItems()) : ?>
                    <?= $block->getBlockHtml('formkey') ?>
                    <?php $block->getChildBlock('items')->setItems($block->getWishlistItems()); ?>
                    <?= $block->getChildHtml('items') ?>
                <?php else : ?>
                    <div class="message info empty"><span><?= $block->escapeHtml(__('You have no items in your wish list.')) ?></span></div>
                <?php endif ?>
                <?= $block->getChildHtml('bottom') ?>
            </form>
            <script id="form-tmpl" type="text/x-magento-template">
                <form id="wishlist-hidden-form" method="post" action="<%- data.url %>" class="no-display">
                    <% if (data.qty) { %>
                    <input name="qty" value="<%- data.qty %>">
                    <% } %>

                    <% if (data.item) { %>
                    <input name="item" value="<%- data.item %>">
                    <% } %>

                    <% if (data.entity) { %>
                    <input name="entity" value="<%- data.entity %>">
                    <% } %>
                </form>
            </script>
            <div class="toolbar wishlist-toolbar"><br><?= $block->getChildHtml('wishlist_item_pager'); ?></div>
        </div>
    </div>
<?php endif ?>
