<?php
/** @var \Aim\ManageCheckout\Helper\Customer $helper */
$helper = $this->helper(\Aim\ManageCheckout\Helper\Customer::class);
?>
<div class="footer-container">
	<div class="ma-brand">
		<div class="container-inner">
			<?php echo $block->getLayout()->createBlock('Plazathemes\Brandslider\Block\Brandslider')->setTemplate('Plazathemes_Brandslider::brandslider.phtml')->toHtml();?>
		</div>
	</div>
	<div class="footer-top">
		<div class="container-inner">
			<div class="container-size">
				<?php //echo $this->getChildHtml('footer_static')?>
				<div class="row footer-static">
                    <div class="col-sm-12" style="text-align: center">
                        <span>
                            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_static')->toHtml();?>
                        </span>
                        <?php if ($helper->isLoggedIn()):?>
                            <span>  |  <a href="<?php echo $this->getUrl('customer/account')?>"><?php echo __('Account Settings')?></a></span>
                            <span>  |  <a href="<?php echo $this->getUrl('wishlist')?>"><?php echo __('Favorites')?></a></span>
                        <?php endif;?>
                    </div>
				</div>
				<div class="footer-static-links">
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_static_links')->toHtml();?>
				</div>
			</div>

		</div>
	</div>
	<div class="footer-bottom">
		<div class="container-inner">
			<?php echo $this->getChildHtml('copyright')?>
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('link_paypal')->toHtml();?>
			<?php echo $this->getChildHtml("store_switcher"); ?>
		</div>
		<div id="back_top">
			<a href="#back-top"></a>
		</div>
	</div>
</div>
<script type="text/javascript">

	require(["jquery"], function($){

	   $(window).scroll(function() {
			if($(this).scrollTop() > 300) {
				$('#back_top').fadeIn();
			} else {
				$('#back_top').fadeOut();
			}
		});
		   $('#back_top').click(function() {
			$('body,html').animate({scrollTop:0},500);
		});

	});
</script>
