<div id="delivery-notes-container" data-bind="scope: 'deliveryNotes'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
            {
                "#custom-place-order-button": {
                    "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
                }
            }
</script>
