/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category  BSS
 * @package   Bss_AdminProductsGridwCategory
 * @author   Extension Team
 * @copyright Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license  http://bsscommerce.com/Bss-Commerce-License.txt
 */
#product_edit_tabs_bss_general_content {
  .mage-suggest-search-label {
    width: 100%;
  }
  #bss_product_categories_id-suggest {
    width: 100%;
    height: 33px;
    padding: 5px;
    position: relative;
  }
  #bss_product_categories_id-suggest:after {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 0;
    width: 22px;
    text-align: center;
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: '\e01f';
    font-size: 18px;
    color: #b2b2b2;
  }
  .mage-suggest:after {
    content: '' !important;
  }
  .mage-suggest-choice {
    display: inline-block;
    padding: 3px 15px;
    margin: 5px;
    background-color: #f5f5f5;
    border: 1px solid #a79d95;
    font-size: 1.2rem;
  }
  .mage-suggest-choices {
    list-style: none;
    margin: -1px;
  }
  .mage-suggest-dropdown {
    padding-bottom: 20px;
  }
  .add_category_button {
    display: none;
  }

}