<div class="main-container">
	<div class="ma-banner">
		<div class="container-inner">
			<div class="row">
				<div class="col-sm-9">
					<?php echo $block->getLayout()->createBlock('Plazathemes\Bannerslider\Block\Bannerslider')->setTemplate('Plazathemes_Bannerslider::bannerslider.phtml')->toHtml();?>
				</div>
				<div class="col-sm-3">
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_home1')->toHtml(); ?>
				</div>
			</div>
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('corporate_about')->toHtml(); ?>
		</div>
		
	</div>
</div>
<div class="container-inner">
	<div class="row">
		<div class="col-md-9">
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('content_page_home1')->toHtml(); ?>
		</div>
		<div class="col-md-3">
			<?php echo $block->getLayout()->createBlock('Plazathemes\Pricecountdown\Block\Pricecountdown')->setTemplate('Plazathemes_Pricecountdown::saleslider.phtml')->toHtml();?>
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_home2')->toHtml(); ?>
			<?php echo $block->getLayout()->createBlock('Plazathemes\Newproductslider\Block\Newproductslider')->setTemplate('Plazathemes_Newproductslider::newproductslider.phtml')->toHtml();?>
		</div>
	</div>
</div>
<div class="container-inner">
	<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_home3')->toHtml(); ?>
	<?php echo $block->getLayout()->createBlock('Plazathemes\Categorytop\Block\Categorytop')->setTemplate('Plazathemes_Categorytop::categorytop.phtml')->toHtml();?>
</div>
<div class="proup-products">
	<div class="container-inner">		
		<div class="row">
			<div class="col-sm-4">
				<?php echo $block->getLayout()->createBlock('Plazathemes\Featureproductslider\Block\Featureproductslider')->setTemplate('Plazathemes_Featureproductslider::featureproductslider.phtml')->toHtml();?>
			</div>
			<div class="col-sm-4">
				<?php echo $block->getLayout()->createBlock('Plazathemes\Bestsellerproduct\Block\Bestsellerproduct')->setTemplate('Plazathemes_Bestsellerproduct::bestsellerproduct.phtml')->toHtml();?>
			</div>
			<div class="col-sm-4">
				<?php echo $block->getLayout()->createBlock('Plazathemes\Recentproductslider\Block\Products')->setTemplate('Plazathemes_Recentproductslider::productslider.phtml')->toHtml();?>	
			</div>
			
		</div>
	</div>
</div>

