<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Actions $block */
?>
<?php $children = $block->getChildNames(); ?>
<?php if ($children) : ?>
    <div class="<?= $block->escapeHtmlAttr($block->getCssClass()) ?>">
        <?php foreach ($children as $childName) : ?>
            <?php if ($childName === 'customer.wishlist.item.cart'): ?>
                <?php echo '<div class="customer-wishlist-item-cart-actions">'; ?>
            <?php endif; ?>
            <?= /* @noEscape */
            $block->getLayout()->renderElement($childName, false) ?>
            <?php if ($childName === 'customer.wishlist.item.actions'): ?>
                <?php echo '</div>'; ?>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
