<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

$MageGetInstance = \Magento\Framework\App\ObjectManager::getInstance();
$context = $MageGetInstance->get('Magento\Framework\App\Http\Context');
$isLoggedIn = $context->getValue(\Magento\Customer\Model\Context::CONTEXT_AUTH);
?>

<?php /** @var \Magento\Framework\Pricing\Render\Amount $block */ ?>

<span class="price-container <?php /* @escapeNotVerified */ echo $block->getAdjustmentCssClasses() ?>"
       >
    <?php if ($block->getDisplayLabel()): ?>
        <span class="price-label"><?php /* @escapeNotVerified */ echo $block->getDisplayLabel(); ?></span>
    <?php endif; ?>
    <span
        <?php echo($block->getPriceDisplayLabel()) ? 'data-label="' . $block->getPriceDisplayLabel() . $block->getPriceDisplayInclExclTaxes() . '"' : '' ?>
        data-price-amount="<?php /* @escapeNotVerified */ echo $block->getDisplayValue(); ?>"
        data-price-type="<?php /* @escapeNotVerified */ echo $block->getPriceType(); ?>"
        class="price-wrapper <?php /* @escapeNotVerified */ echo $block->getPriceWrapperCss(); ?>"
       >
        <?php /* @escapeNotVerified */ echo $block->formatCurrency($block->getDisplayValue(), (bool)$block->getIncludeContainer()) ?>
    </span>
    <?php if ($block->hasAdjustmentsHtml()): ?>
        <?php echo $block->getAdjustmentsHtml() ?>
    <?php endif; ?>
    <?php if ($block->getSchema()): ?>
        <meta itemprop="priceCurrency" content="<?php /* @escapeNotVerified */ echo $block->getDisplayCurrencyCode()?>" />
    <?php endif; ?>
</span>

<?php 

$controllerName = $this->getRequest()->getControllerName();

if($controllerName == 'product') {
    $prodPriceNotLogged = number_format($block->getSaleableItem()->getOrigData('price'), 2, '', '');
    if (isset($block->getSaleableItem()->getOrigData()['tier_price'][0])) {
        $prodPriceLogged = number_format($block->getSaleableItem()->getOrigData()['tier_price'][0]['price'], 2, '', '');
    }
      if($block->getPriceType() == 'oldPrice' && isset($prodPriceLogged) && $prodPriceLogged >= 3500){
      ?>
        <br/><div class="klarna-product-page" style="display: inline-block;margin: 30px 0 0;">
            <!-- Placement v1 -->
            <klarna-placement
              data-id="18095394-8e71-4329-b6bd-349ed9cd1803"
              data-purchase_amount="<?php echo $prodPriceLogged;  ?>"
              data-theme="default"
            ></klarna-placement>
            <!-- end Placement -->
            </div>
      <?php } if ($isLoggedIn == null && $prodPriceNotLogged >= 3500) {?>
            <br/><div class="klarna-product-page" style="display: inline-block;margin: 30px 0 0;">
            <!-- Placement v1 -->
            <klarna-placement
              data-id="18095394-8e71-4329-b6bd-349ed9cd1803"
              data-purchase_amount="<?php echo $prodPriceNotLogged;  ?>"
              data-theme="default"
            ></klarna-placement>
            <!-- end Placement -->
            </div>
     <?php }?>
<?php } ?>
