@general_bg_color:#fff;
@general_title_color:#363f4d;
@general_text_color:#666666;
@general_link_color:#363f4d;
@general_link_hover_color:#eb3e32;
@general_price_color:#eb3e32;
@general_old_price_color:#a4a4a4;
@general_border_color:#F1F1F1;
@general_product_name_color:#363f4d;
@general_new_label_color:#8dc44f;
@general_sale_label_color:#eb3e32;
@header_bg_color:#eb3e32;
@header_link_color:#fff;
@footer_top_bg_color:#f7f7f7;
@footer_top_title_color:#363f4d;
@footer_top_text_color:#919292;
@footer_top_link_color:#636363;
@footer_bottom_bg_color:#f7f7f7;
@footer_bottom_text_color:#636363;
@footer_bottom_link_color:#51c1c6;
