<div class="cart main actions">
    <?php if ($block->getContinueShoppingUrl()) :?>
        <a class="action continue"
           href="<?= $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
           title="<?= $block->escapeHtmlAttr(__('Continue Shopping')) ?>">
            <button type="button" class="action continue">
                <span><?= $block->escapeHtml(__('Continue Shopping')) ?></span>
            </button>
        </a>
    <?php endif; ?>
    <button type="button"
            name="clear_cart_action"
            data-cart-empty=""
            value="empty_cart"
            title="<?= $block->escapeHtmlAttr(__('Clear Shopping Cart')) ?>"
            class="action clear" id="empty_cart_button">
        <span><?= $block->escapeHtml(__('Clear Shopping Cart')) ?></span>
    </button>
    <button type="submit"
            name="update_cart_action"
            data-cart-item-update=""
            value="update_qty"
            title="<?= $block->escapeHtmlAttr(__('Update Shopping Cart')) ?>"
            class="action update">
        <span><?= $block->escapeHtml(__('Update Shopping Cart')) ?></span>
    </button>
    <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
</div>
<script>
    require(['jquery', 'domReady!'], function ($) {
        $('.cart.main.actions button:not(.continue)').each(function (index, item) {
            $(item).click(function (e) {
                e.preventDefault();
                $('.cart.actions.secondary button[name="'+ item.name +'"]').trigger('click');
            })
        })
    })
</script>
